SOLANA_RPC_URL=
SOURCE_TOKEN_MINT=
REWARD_TOKEN_MINT=
FEE_WALLET_PRIVATE_KEY=
BEGGAR_FUND_WALLET=

MIN_HOLDER_TOKEN_BALANCE=100000
MAX_CREATOR_FEE_CLAIM_SOL=0.02
MAX_AIRDROP_RECIPIENTS=50
SWAP_SLIPPAGE_BPS=300
SOL_FEE_RESERVE=0.02
BEGGAR_FUND_BPS=5000
MAX_HOLDER_SUPPLY_BPS=0
EXCLUDED_HOLDER_WALLETS=
HOLDER_SNAPSHOT_FILE=
REWARDS_STATE_DIR=work/rewards-state

REWARDS_EPOCH_MS=3600000
REWARDS_DAEMON_EXECUTE=false
