SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SOLANA_RPC_URL=
SOURCE_TOKEN_MINT=
FEE_WALLET_PRIVATE_KEY=

MIN_HOLDER_TOKEN_BALANCE=1000000
MIN_WORKER_POW_BALANCE=1000000
MAX_CREATOR_FEE_CLAIM_SOL=0.02
MAX_PAYOUT_WORKERS=100
MAX_SOL_TRANSFERS_PER_TX=8
MIN_WORKER_SCORE=1
MIN_PAYOUT_LAMPORTS=10000
SOL_FEE_RESERVE=0.02
MAX_HOLDER_SUPPLY_BPS=0
EXCLUDED_HOLDER_WALLETS=
BLACKLISTED_WORKER_WALLETS=
BLACKLISTED_X_HANDLES=
BLACKLISTED_X_USER_IDS=
HOLDER_SNAPSHOT_FILE=
REWARDS_STATE_DIR=work/rewards-state

REWARDS_EPOCH_MS=3600000
REWARDS_DAEMON_EXECUTE=false

X_BEARER_TOKEN=
POW_APPLICATION_QUERY="$POW #POW application -is:retweet"
POW_POST_QUERY="$POW -is:retweet"
POW_SCANNER_INTERVAL_MS=300000
POW_VOLUME_API_URL=
POW_VOLUME_API_KEY=
